---
const { levelBoost } = Astro.props;
---

<div class="levelboost">
    <img
        src={`https://www.bungie.net${levelBoost.displayProperties.icon}`}
        alt={levelBoost.displayProperties.name}
        width="64"
        height="64"
    />
    <div class="levelboost-tooltip">
        <span class="levelboost-tooltip-info">
            <h4>{levelBoost.displayProperties.name}</h4>
            <p>{levelBoost.displayProperties.description}</p>
        </span>
    </div>
</div>
