---
const { masterwork } = Astro.props;
---

<div class="masterwork">
    <img
        src={`https://www.bungie.net${masterwork.displayProperties.icon}`}
        alt={masterwork.displayProperties.name}
        width="64"
        height="64"
    />
    <div class="masterwork-tooltip">
        <span class="masterwork-tooltip-info">
            <h4>{masterwork.displayProperties.name}</h4>
            <p>{masterwork.displayProperties.description}</p>
        </span>
    </div>
</div>
