---
import Image from "astro/components/Image.astro";
const { mod } = Astro.props;
---

<div class="mod">
    <Image
        src={`https://www.bungie.net${mod.displayProperties.icon}`}
        alt={mod.displayProperties.name}
        width="64"
        height="64"
    />
    <div class="mod-tooltip">
        <span class="mod-tooltip-info">
            <h4>{mod.displayProperties.name}</h4>
            <p>{mod.displayProperties.description}</p>
        </span>
    </div>
</div>
