---
const { perk } = Astro.props;
---

<div class="perk">
    <div class="perk-icon">
        <img
            src={`https://www.bungie.net${perk.displayProperties.icon}`}
            alt={perk.displayProperties.name}
            width="32"
            height="32"
        />
    </div>
    <div class="perk-tooltip">
        <span class="perk-tooltip-info">
            <h4>{perk.displayProperties.name}</h4>
            <p>{perk.displayProperties.description}</p>
        </span>
    </div>
</div>
