body {
    background-color: rgb(22, 22, 22);
    color: #e0e0e0;
    font-family: neue-haas-grotesk-text, "Neue Haas Grotesk Text", "Neue Arial Grotesk", Arial, sans-serif, Destiny_Keys, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

.sockets-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;
    justify-items: center;
}

.weapon-image-container {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapon-watermark {
    position: absolute;
    top: 0;
    left: 0;
}

.weapon-icon {
    width: 46px;
}

.weapon-watermark {
    width: 46px;
}

.socket ul {
    list-style: none;
    padding-left: 0;
    justify-items: center;
}

.socket img {
    width: 36px;
    height: auto;
}

.search {
    background-color: rgb(28, 28, 28);
    box-sizing: border-box;
    border-color: rgb(52, 52, 52);
    border-radius: 8px;
    border-style: solid;
    border-width: 0.8px;
    color: white;
    width: 320px;
    height: 36px;
    padding: 8px;
}

.search:hover {
    border-color: #0954a5;
}

.search:focus-visible {
    border-width: 1px;
    border-color: #0954a5;
}

.highlighted-perk>img {
    border-radius: 50%;
    border: 1px solid #369eff;
    background-color: #0a4481;
    padding: 5px;
    font-weight: bold;
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #0091ff;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    padding: 0 16px;
    height: 30px;
    border-radius: 3px;
    font-weight: bold;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}

#search-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.weapon-screenshot {
    height: 180px;
}

.rasgo-mejorado {
    position: relative;
    display: inline-block;
    background: linear-gradient(to top, #D3C772 5%, #62AADD 50%);
    border-radius: 50%;
    padding: 10px;
    width: 32px;
    height: 32px;
}









.masterwork-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, auto);
}

.sockets-perks,
.sockets-mods,
.sockets-masterworks {
    display: flex;
}

.masterwork,
.intrinsic,
.mod,
.deepsight,
.levelboost,
.perk {
    display: inline;
}

.weapon-data,
.masterwork,
.intrinsic,
.mod,
.deepsight,
.levelboost,
.perk,
.ammo,
.damage,
.stat {
    cursor: pointer;
}

.perk-icon {
    background-color: #62aadd;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 0.514);
}

.weapon-tooltip,
.masterwork-tooltip,
.intrinsic-tooltip,
.perk-tooltip,
.mod-tooltip,
.deepsight-tooltip,
.levelboost-tooltip,
.ammo-tooltip,
.damage-tooltip,
.stat-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.weapon-tooltip-info,
.masterwork-tooltip-info,
.intrinsic-tooltip-info,
.perk-tooltip-info,
.mod-tooltip-info,
.deepsight-tooltip-info,
.levelboost-tooltip-info,
.ammo-tooltip-info,
.damage-tooltip-info,
.stat-tooltip-info {
    display: none;
    position: absolute;
    top: -100%;
    left: 100%;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.masterwork:hover .masterwork-tooltip-info,
.intrinsic:hover .intrinsic-tooltip-info,
.perk:hover .perk-tooltip-info,
.mod:hover .mod-tooltip-info,
.deepsight:hover .deepsight-tooltip-info,
.levelboost:hover .levelboost-tooltip-info,
.weapon-data:hover .weapon-tooltip-info,
.ammo:hover .ammo-tooltip-info,
.damage:hover .damage-tooltip-info,
.stat:hover .stat-tooltip-info {
    display: block;
}