---
import Image from "astro/components/Image.astro"

const { perk } = Astro.props
const className = perk.className || 'perk-image';
---

<div class="perk">
    <div class={className}>
        <Image
            src={`https://www.bungie.net${perk.displayProperties.icon}`}
            alt={perk.displayProperties.name}
            width="32"
            height="32"
        />
    </div>
    <span>{perk.displayProperties.name}</span>
</div>
