---

---
<div id="search-container">
    <form method="POST">
        <input
            name="trait1"
            type="text"
            placeholder="Rasgo 1"
            class="search"
            required
        />
        <input
            name="trait2"
            type="text"
            placeholder="Rasgo 2"
            class="search"
            required
        />
        <button>Buscar</button>
    </form>
</div>