---
import PerksSockets from "./PerksSockets.astro";
import ModsSockets from "./ModsSockets.astro";

const { sockets } = Astro.props;
---

<div class="sockets">
    <PerksSockets perks={sockets.perks} />
    <ModsSockets mods={sockets.mods} />
</div>