---
const { stats } = Astro.props;
---

<div class="stats-container">
    {
        stats.map((stat) => (
            <div class="stat">
                {stat.name}: {stat.value}
                <div class="stat-tooltip">
                    <span class="stat-tooltip-info">
                        <p>{stat.description}</p>
                    </span>
                </div>
            </div>
        ))
    }
</div>
