---
import WeaponCard from "./WeaponCard.astro";
import Pagination from "./Pagination.astro";

const { response } = Astro.props;
const weapons = response?.paginatedWeapons || {};
const weaponKeys = Object.keys(weapons);

const itemsPerPage = 1;
const currentPage = Number(Astro.url.searchParams.get("page") || 1);
const total = response?.total || 0;

const trait1 = Astro.url.searchParams.get("trait1");
const trait2 = Astro.url.searchParams.get("trait2");

const noSearchYet = !trait1 || !trait2;
---

<div>
    {
        noSearchYet ? null : (
            weaponKeys.length > 0 ? (
                weaponKeys.map((key) => <WeaponCard weapon={weapons[key]} />)
            ) : (
                <p>No se encontraron armas.</p>
            )
        )
    }

    {
        !noSearchYet && (
            <Pagination
                total={total}
                currentPage={currentPage}
                itemsPerPage={itemsPerPage}
            />
        )
    }
</div>