---
import WeaponSockets from "./WeaponSockets.astro";
---

<div>
    <div id="weapon-container">
        <div class="weapon-image-container">
            <img src="" alt="icono del arma" class="weapon-icon">
        </div>
        <strong>Nombre del arma</strong>
        <br>
        <em>Descripción del arma</em>
        <br>
        <h4>Perks</h4>
        <WeaponSockets />
    </div>
</div>
